#Testing files
Testing*.py

#Bot API tokens
conf.py
SDconf.py

#Player Data
/Player/Players.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Pyreverse things
classes.png
packages.png
*.dot